.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.category-card img {
    height: 200px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.category-card h4 {
    font-size: 30px;
    font-weight: 700;
}

.category-card h4:hover {
    color: rgb(3, 85, 85);
    border-bottom: 2px solid;
}

@media (max-width: 600px) {
    .category-card {
        height: 12rem;
        width: 12rem;
        font-size: 25px;
        margin-bottom: 70px;
    }
}