.hero-section img {
    width: 100%;
}

.category-div {
    flex-direction: column;
}

.category-div h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-div h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.products li {
    list-style: none;
}

@media (max-width: 600px) {
    .hero-section img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
    }

    .categories {
        flex-direction: column;
    }
}