.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.all-products li {
    list-style: none;
}

.all-product-div h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}