.update-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    margin: 2rem;
    padding: 2rem;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
}

.update {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    color: white;
    margin: 30px;
    font-size: 30px;
    font-weight: 700;
}

.update-product input {
    height: 30px;
    width: 300px;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.update-product input:focus {
    outline: none;
    border: none;
}

.update-product button {
    background-color: #85bf31;
    color: white;
    margin: 15px;
    padding: 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}

.update-product button:hover {
    background-color: yellowgreen;
    color: white;
}

.update-product h2 {
    color: white;
    font-size: 40px;
    margin: 15px;
}

@media (max-width: 600px) {
    .update-product {
        width: 80%;
    }

    .update {
        display: flex;
        flex-direction: column;
    }

    .label {
        margin: 20px;
    }

    .update-product input {
        width: 250px;
        margin-bottom: 10px;
    }

    .update-product button {
        margin-top: 30px;
    }
}


