.user-card {
    width: 80%;
    height: 60px;
    border: 1px solid gray;
    padding: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 30px;
}

.user-card p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-name {
    display: flex;
    gap: 10px;
}