.user-card {
    width: 260px;
    height: 360px;
    border: 1px solid gray;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.user-card img {
    width: 200px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.user-card p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-name {
    display: flex;
    gap: 10px;
}